<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div ng-controller="UserController as ctrl">

	
	<form name="form" ng-submit="ctrl.addblog()" role="form">
		
<label for="username">Username</label> 
<input type="text"	name="username" id="username" class="form-control"
					ng-model="ctrl.user.username" required /> 					
		

<label for="password">Password</label> <input type="password"
		name="password" id="password" class="form-control"
		ng-model="ctrl.user.password" required /> 
			
	<button type="submit"		
					class="btn btn-primary">Login</button>
				<a href="#/register" class="btn btn-link">Register</a>
		</form>
	
</div>


</body>
</html>