

<div ng-controller="BlogController as ctrl">
<a  href="#" ng-click="ctrl.getcomments('sampe')">rajesh</a>
	
	<form name="form" ng-submit="ctrl.addblog()" role="form">
		
<label for="">Blog title</label> 
<input type="text"	 class="form-control"
					ng-model="ctrl.blogModel.blogname" required /> 		

				

<input type="hidden" 	value="rajesh"  class="form-control"
					ng-model="ctrl.blogModel.username"  /> 					
		

<label for="">Blog content</label>
 <textarea 
		name="blogdescription" class="form-control"
		ng-model="ctrl.blogModel.blogdescription" required  cols="50" rows="10"> </textarea>
			
			<br>
	<button type="submit"		
					class="btn btn-primary">Add blog</button>				
		</form>
	BLOG page:{{currentUser.username}}-name<br>
<div ng-repeat="bloglist in ctrl.blogs">
<a  href="#" ng-click="ctrl.getBlog(bloglist.blogname)"> Blog Title: {{bloglist.blogname}}    -----------------------------------Author :{{bloglist.usename}}---------------- </a>
</div>
</div>

